
body{
    margin: 0;
    font-size: 18px;
    background-size:100%;
}
html{
    scroll-behavior: smooth; 
}
.menu .lista-menu{
    display: inline-flex;
    list-style: none;
    text-align: left;
}
.menu .lista-menu{
    background-color:rgb(200, 255, 127);
    opacity: .5;
    width: 100%;
    margin: 0; 
    padding: 2%;   
}
.menu .lista-menu li{
    display: inline;
    position: relative;
    width: 10%;
}
.menu .lista-menu li a {
    background-color:rgba(204, 238, 153, 0.893);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 2%; 
    width: 100%;
}
.menu .lista-menu ul li a{
    width: 100%;
    padding: 2%;
}
.menu .lista-menu li a:hover {
    text-decoration: none;
    padding: 2%;
    width: 100%;
}
.menu .lista-menu li a:hover{
    background-color:greenyellow;
    transition: .3s;
}
.menu .lista-menu ul{
    display: none;
    left: 0;
    padding: 10px;
    width: 100%;
    position: absolute;  
}
.menu .lista-menu li:hover ul{
    display: block;
    width: 100%;
    left: 0px;
    right: 0px;
}
h1 {
    background-color:rgb(156, 70, 9);
    margin: 7%; 
    padding: 2%;
    height: 20%;
    color:white;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    gap: 50%;
    margin-top: 6%;
}
.container img{
    width: 30%;
    border-radius: 50%;
}
footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color:greenyellow;
    opacity: .7;
    width: 100%;
}
.redes-sociais img{
    width: 35px;
}
.redes-sociais ul{
    list-style: none;
    display:inline-flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
    gap: 100px;

}
