
body{
    margin: 0;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
}


#menu .lista-menu{
    margin: 0;
    background-color:aquamarine;
    list-style: none;
}

#menu .lista-menu li{
    display: inline;
}

#menu .lista-menu li a{
    padding: 10px 10px;
    display:inline-block;
    color: white;
    text-decoration: none;
}

#menu .lista-menu li a:hover{
    color: #333;
}

.container{
    background-color: black;
    color: #eee;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.main-aside h2{
    text-align: center;
}

.main-aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}

.lista-elementos img{
    border-radius:50%;
    width: 25%;
    display:inline-block;
    justify-content: center;
    
}

.footer{
    background-color:#333;
    margin: 0;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    text-align: center;
    line-height: 100px;
   
}

