
body{
    margin: 0;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
  
}


.menu .lista-menu{
    list-style: none;
    padding: 0;
    bottom: 0;
   
}

.menu .lista-menu{
    background-color: aquamarine;
    margin: 0; 
}

.menu .lista-menu li{
    display: inline;
    position: relative;
   
}

.menu .lista-menu li a {
    background-color: aqua;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
}

.menu .lista-menu li a:hover {
    background-color: aqua;
    text-decoration: none;
    padding:10px ;
}


.menu .lista-menu li a:hover{
    color: #333;
}


.menu .lista-menu ul{
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    
}

.menu .lista-menu li:hover ul{
    display: block;
    left: 0px;
}

menu .lista-menu ul {
    width: 150px;
   
}



.container{
    background-color: black;
    color: #eee;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.main-aside h2{
    text-align: center;
}

.main-aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}

.lista-elementos img{
    border-radius:50%;
    width: 25%;
    display:inline-block;
    justify-content: center;
    
}

.footer{
    background-color:#333;
    margin: 0;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    text-align: center;
    line-height: 100px;
   
}

