
body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    background-image: url(fundo-mario.jpg);
    background-repeat: no-repeat;
    background-size:100%;
  
}

.menu .lista-menu{
    list-style: none;
    text-align: left;
    padding: 0;
    bottom: 0;
   
}

.menu .lista-menu{
    background-color:rgb(200, 255, 127);
    opacity: .5;
    margin: 0; 
    padding: 2%;
    height: 30%;
    
}

.menu .lista-menu li{
    display: inline;
    position: relative;
}

.menu .lista-menu li a {
    background-color:whitesmoke;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px; 
}

.menu .lista-menu ul li a{
    width: 100%;
}


.menu .lista-menu li a:hover {
    text-decoration: none;
  
}


.menu .lista-menu li a:hover{
    background-color:rgb(136, 224, 224);
    transition: .3s;

}


.menu .lista-menu ul{
    display: none;
    left: 0;
    padding: 0;
    width: 100%;
    position: absolute;  
}

.menu .lista-menu li:hover ul{
    display: block;
    width: 100%;
    left: 0px;
    right: 0px;
}

.conteudo {
    background-color:rgb(200, 255, 127);
    opacity: .4;
    margin: 10%; 
    padding: 2%;
    height: 20%;
    
}
.conteudo p {
    color: black;
    opacity: 1;
}


