
body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    background-size:100%;
}

html{
    scroll-behavior: smooth; 
}

P{
    text-align: right;
    font-size: 20px;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.menu .lista-menu{
    list-style: none;
    text-align: left;
    padding: 0;
    bottom: 0;
   
}

.menu .lista-menu{
    background-color:rgb(200, 255, 127);
    opacity: .5;
    margin: 0; 
    padding: 2%;
    height: 30%;
    
}

.menu .lista-menu li{
    display: inline;
    position: relative;
}

.menu .lista-menu li a {
    background-color:rgba(245, 245, 245, 0.432);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 2%; 
}

.menu .lista-menu ul li a{
    width: 100%;
    padding: 2%;
}


.menu .lista-menu li a:hover {
    text-decoration: none;
    padding: 2%;
  
}


.menu .lista-menu li a:hover{
    background-color:greenyellow;
    transition: .3s;

}


.menu .lista-menu ul{
    display: none;
    left: 0;
    padding: 0;
    width: 100%;
    position: absolute;  
}

.menu .lista-menu li:hover ul{
    display: block;
    width: 100%;
    left: 0px;
    right: 0px;
}

h1 {
    background-color:rgb(156, 70, 9);
    margin: 7%; 
    padding: 2%;
    height: 20%;
    color:white;
    text-align: center;
}

.conteudo p{
    text-align: left;
    color: white;
    font-size: 100%;
    margin: 40px;

}


footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color:greenyellow;
    opacity: .7;
    width: 100%;

}

.redes-sociais{
}

.redes-sociais img{
    width: 35px;
    
}

.redes-sociais ul{
    list-style: none;
    display:inline-flex;
    width: 100%;
    justify-content: center;
    gap: 100px;

}
