
body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
  
}


.menu .lista-menu{
    list-style: none;
    text-align: center;
    padding: 0;
    bottom: 0;
   
}

.menu .lista-menu{
    background-color:aquamarine;
    margin: 0; 
    padding: 2%;
    height: 80px;
    
}

.menu .lista-menu li{
    display: inline;
    position: relative;

}

.menu .lista-menu li a {
    background-color:aqua;
    color: gray;
    text-decoration: none;
    display: inline-block;
    padding: 10px;    
}

.menu .lista-menu ul li a{
    width: 100%;
}


.menu .lista-menu li a:hover {
    text-decoration: none;
  
}


.menu .lista-menu li a:hover{
    background-color:rgb(136, 224, 224);
    color:azure;
    transition: .3s;

}


.menu .lista-menu ul{
    display: none;
    left: 0;
    padding: 0;
    width: 100%;
    position: absolute;  
}

.menu .lista-menu li:hover ul{
    display: block;
    width: 100%;
    left: 0px;
    right: 0px;
}



.container{
    background-color: black;
    color: #eee;
    width: 80%;
    margin: auto;
    padding: 0%;
}

.main-aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}


.footer{
    background-color:rgb(136, 224, 224);
    margin: auto;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    line-height: 100px;
    
   
}

.footer .lista-elementos img{
    border-radius:50%;
    width: 25%;
    display:inline-block;
    justify-content: center;
    
}

.footer .main-aside{
    text-align: center;
}
